includes:
  - ./vendor/nunomaduro/larastan/extension.neon
parameters:
  paths:
    - src
    - tests
  excludePaths:
    - src/Geometry/GeometryFactory.php
  level: max
  checkMissingIterableValueType: true
  checkGenericClassInNonGenericObjectType: false
  ignoreErrors:
    -
      message: '#^Call to an undefined method Pest\\Expectation\|Pest\\Support\\Extendable\:\:.+\(\)\.$#'
      path: tests/*.php
    -
      message: '#^Access to an undefined property Pest\\Expectation\|Pest\\Support\\Extendable\:\:\$.+\.$#'
      path: tests/*.php
